// Variables override 

$header-desktop-size: 60px;
$sidebar-desktop-size: 220px;

$body-bg: #222b31;
$body-color: #bbb;

$font-family-base: 'Raleway', sans-serif;
$font-family-base: 'Montserrat', sans-serif;

$primary: #f94854;
$secondary: #1a1d20;